        table {
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 24px;
        }
        table th {
            border: 2px solid blue;
            background-color: rgb(104, 232, 255);
        }
        table td {
            border: 3px solid red;
            width: 100px;
        }